<html>
    <head>
        <title>Message Details</title>
    </head>
    <body>
        <h1><%= message.name %></h1>
        <h2>had this to say: </h2>
        <p><%= message.text %></p>
        <h2>at this time: </h2>
        <p><%= message.added.toLocaleString() %></p>
        <a href="/">
            <button>Back to Homepage</button>
        </a>
    </body>
</html>